.hero {
  background-image: url('https://images.unsplash.com/photo-1602362123045-e48b1cd88986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 109vh;
    padding-top: 20%;
    padding-right: 50px;
    color: #fff;
    background-color: #4F7942;
  }
  .image2 {
    position: absolute;
    top: 30%;
    right: 10%;
    border: 1px green solid;
    
  }
  .blured{
    position: relative;
    width: 100%;
    padding: 50px;
    height: 70vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
  }
  .hero #heading h3 {
    color: #111;
  }
  .hero #heading {
    text-align: left;
    margin: 0;
  }
 
  @media screen and (max-width: 768px) {

    .margin {
      height: 70vh;
    }
    .hero {
      background-position: cover;
      padding-top: 50%;
      height: 135vh;
      background-size: 300px 300px;
    }
    .blured{
      position: relative;
      width: 120%;
      padding: 50px;
      height: 100vh;
      box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(20px);
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 10px;
    }
    .hero .row{
      width: 100%;
    }
    .headertlt{
      text-align: center;
    }
    
}
 